:root{
    --fs-base: 18px;
}
*{
    box-sizing: border-box;
}
/* colors and fonts */
header, footer{
    background-color: #1F2937;
}

h1{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #F9FAF8;
}

header span{
    font-size: 1rem;
    color: #F9FAF8;
    text-align: center;
}

header li a, li, .container p, .button a{
    font-size: 1rem;
    color: #E5E7EB;
    text-decoration: none;
    list-style-type: none;
}

.button{
    background-color: #3882F6;
}

main h2{
    font-size: 1.1rem;
    font-weight: bolder;
}

article{
    background-color: #E5E7EB;
}

article p, article span{
    font-size: 1.5rem;
    font-weight: lighter;
    color: #1F2937;
    text-align: center;
}
/* colors and fonts */

/* header */
header{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.8rem;
}

ul{
    display: flex;
    gap: 1rem;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.expla{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    width: 400px;
    height: 230px;
}

.img{
    background-color: #9397a0;
    width: 400px;
    height: 230px;
}

.img, .button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    width: 90px;
    height: 30px;
    border-radius: .7rem;
}
/* header */

/* main */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1.5rem;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.box{
    border: 3px solid #3882F6;
    border-radius: 1rem;
    width: 150px;
    height: 150px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 150px;
    text-align: center;
}
/* main */

/* article */
article{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

/* article */

/* call */
.call{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #3882F6;
    color: white;
    padding: 2rem;
    gap: 1rem;
}

.call .button{
    border: 1px solid white;
} 
/* cont */

/* footer */
footer{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
/* footer */
